*{
    margin: 0;
}

body{
    background-color:#ebedf0;
    font-size: 14px;
}
.top-bar{
    background-color:#29487d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 100%;    
}
.facebook-logo{
    font-family: inherit;
    font-size: 2em;
    color:#ebedf0;
}
#inputCabeca{
    font-family: Helvetica ;
    display: flex;
    align-items:flex-start;
    line-height: 25px;
    font-size: 0.9em;
    color:#ebedf0;
}
.campus{
    margin: 0 5px;
    
}
#button-login{
    align-self: center;
}