* {
  padding: 0px;
  margin: 0px;
}

header {
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133763;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 82px;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 82px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 980px;
}

.facebook-logo {
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
  height: 34px;
  margin-bottom: 15px;
  width: 170px;
}

.forms {
  display: flex;
}

#user-email-phone,
#user-email-phone-label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-left: 14px;
}

.label-user {
  padding-bottom: 4px;
}

.linkpassword {
  color: #9cb4d8;
  padding-top: 4px;
  text-decoration: none;
}

.linkpassword:hover {
  text-decoration: underline;
}

#button-login {
  align-self: center;
  background-color: #4267b2;
  border: none;
  border-color: #29487d;
  color: white;
  color: 2px 6px;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  padding: 2px 6px;
  padding: 2px 6px;
  margin-left: 14px;
  width: 50px;
}

#button-login:hover {
  background-color: #365899;
  border-color: #29487d;
}

.input {
  border: none;
  height: 23px;
  width: 150px;
}

h3 {
  color: #0e385f;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}

section.main {
  background: linear-gradient(white, #d3d8e8);
  padding: 40px 0;
}

.text-abertura {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 440px;
}

.img-network {
  display: flex;
  margin-left: 440px;
}

.text-info {
  color: #333;
  font-size: 19px;
  line-height: 126%;
  margin-bottom: 20px;
}
