body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.hide-on-pc {
  display: none;
}

.pappa-div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 980px;
}

.top-bar {
  align-items: center;
  background-color: rgb(67, 91, 155);
  border-bottom-color: rgb(19, 55, 131);
  color: white;
  display: flex;
  font-size: 12px;
  height: 83px;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

.facebook-logo {
  height: 34px;
  margin-top: 13px;
  width: 170px;
}

.login-container {
  box-sizing: border-box;
  padding-top: 24px;
}

.user-mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 12px;
}

.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table tr td {
  padding: 0 0 4px 14px;
}

.esqueceu-conta {
  color: rgb(156, 180, 216);
  padding: 4px 0 14px 14px;
}

td input {
  border: 1px solid rgb(29, 42, 91);
  height: 16px;
  width: 144px;
}

.esqueceu-conta:hover {
  text-decoration: underline;
}

.botao-login {
  background-color: rgb(66, 103, 178);
  border: 1px solid rgb(41, 72, 125);
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}

.botao-login:hover {
  background-color: rgb(54, 88, 153);
}

.question {
  height: 19px;
  margin-left: 10px;
  width: 19px;
}

.body-container {
  background: linear-gradient(white, rgb(211, 216, 232));
  background-size: 150%;
  display: flex;
  justify-content: center;
  padding-top: 84px;
  width: 100%;
}

.right-column {
  display: flex;
  flex-direction: column;
  margin-left: 33px;
}

h1 {
  color: rgb(51, 51, 51);
  font-size: 36px;
  height: 48px;
  margin-bottom: 5px;
}

h2 {
  color: rgb(29, 33, 41);
  font-size: 19px;
  font-weight: initial;
  margin: 0;
  padding-bottom: 20px;
}

.input {
  background-color: white;
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
  font-size: 18px;
  height: 18px;
  margin: 0 0 10px;
  padding: 8px 10px;
  width: 377px;
}

.Nome {
  width: 172px;
}

.right-column .label {
  color: rgb(144, 148, 156);
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0;
}

.right-column .label .genero {
  margin: 10px 0;
}

.nome-sobrenome {
  display: flex;
  justify-content: space-between;
}

.genero-container {
  color: rgb(29, 33, 41);
  font-size: 18px;
  padding: 0 10px 0 3px;
}

.genero-container label {
  margin-right: 4px;
}

.termos {
  color: rgb(119, 119, 119);
  font-size: 11px;
  line-height: 1.34;
  padding: 11px 0;
  width: 316px;
}

.left-column {
  display: flex;
  flex-direction: column;
  margin: 23px 10px 0 0;
}

.left-column p {
  color: rgb(14, 56, 95);
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 0;
  width: 450px;
}

.networking {
  width: 537px;
}

.cadastre-se {
  background: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
  border: 1px solid rgb(59, 110, 34);
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgb(164, 227, 136);
  color: white;
  cursor: pointer;
  font-family: Freight Sans Bold, Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 126%;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  width: 194px;
}

.cadastre-se:hover {
  background: linear-gradient(rgb(121, 188, 100), rgb(87, 136, 67));
}

.criar-pagina {
  color: rgb(102, 102, 102);
  font-size: 13px;
  font-weight: 700;
  margin-top: 10px;
  padding-top: 25px;
}

.blue {
  color: blue;
  cursor: pointer;
}

.blue:hover {
  text-decoration: underline;
}
